body {
  font-family: Arial, sans-serif;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.todo-container {
  background-color: yellow;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
#taskInput,
#addTaskBtn {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
}
#tasklist {
  list-style-type: none;
  padding: 0;
}
#tasklist li {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}
#tasklist button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}
